body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  /* referring to first sentence*/
  font-family sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align center
}

h3 {
  /* size of second sentence's font */
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

.element:seventh-child {
  /* change of background color */
  background-color: pink;
}

.element:eighth-child {
  background-color: pink;
}

.element:ninth-child {
  background-color: pink;
}
